@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

html {
  font-size: 62.5%;

  @include mobile {
    font-size: 52.5%;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

[v-cloak], .hidden {
  display: none;
}

.clearfix:after {
  content:"";
  display:block;
  clear:both;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.text-center {
  text-align: center;
}

.display-block {
  display: block;
  width: 100%;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.flex-row {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.inherit-color {
  color: inherit;
}

.error {
  color: red;
  font-weight: bold;
}

img {
  max-width: 100%;
}

body {
  font-family: $body-font;
  line-height: 1.5;
  font-size: 1.8rem;
  background-color: $dark-blue;
  color: $white;
  background-image: url("~/assets/images/bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5,
input, textarea, .btn {
  font-family: $heading-font;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  color: $white;
  text-transform: uppercase;
  font-size: 5rem;
  line-height: 1;
  margin: 0;

  small {
    font-size: 3.4rem;
    color: #fff;
    display: block;
  }

  @include mobile {
    font-size: 3.5rem;
    margin-bottom: 0;
  }
}

h2 {
  text-transform: uppercase;
  font-size: 3.4rem;
  margin-bottom: 2rem;

  #signon & {
    color: $red;
  }

  small {
    display: block;
    font-size: 1.6rem;
    text-transform: none;
    color: $white;
    font-weight: normal;
  }

  strong {
    font-weight: inherit;
    color: $white;
  }

  @include mobile {
    font-size: 3rem;
  }
}

p {
  margin: 1.5rem 0;
}

a {
  color: $link-color;
  transition: color .2s;
  text-decoration: none;

  &:hover {
    color: darken($link-color, 10%);
  }
}

.btn, a.btn {
  background-color: $red;
  color: #fff;
  text-transform: uppercase;
  font-family: $heading-font;
  font-size: 1.6rem;
  line-height: 1;
  font-weight: bold;
  padding: 1.2rem 3rem;
  border-radius: $border-radius;
  border: none;
  text-decoration: none;
  text-align: center;
  transition: background-color .2s;

  &:hover {
    background-color: darken($red, 10%);
    cursor: pointer;
  }

  &:disabled {
    background-color: #393E58;
  }

  &.btn-block {
    font-size: 3rem;
    width: 100%;
    display: block;
    padding: 2rem;
  }
}

input, textarea {
  border-radius: $border-radius;
  font-family: $body-font;
  font-weight: normal;
  padding: 1.6rem;
  border: none;
  font-size: 1.8rem;
  color: #171A29;

  &::placeholder {
    color: #171A29;
  }
}

form {
  .row {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    margin: 1.5rem 0;

    > * {
      flex: 1;
      margin-right: 1.5rem;
      width: 50%;

      &:last-child {
        margin-right: 0;
      }
    }

    @include mobile {
      margin: 1rem 0;

      > * {
        margin-right: 1rem;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .disclaimer {
    font-size: 1.3rem;
    line-height: 1.3;
    color: darken($white, 20%);
    margin: -0.5rem 0 0;

    a {
      color: inherit;
      font-weight: bold;
    }
  }
}

.container {
  width: 750px;
  margin: auto;
  max-width: 100%;

  @include mobile {
    width: 100%;
  }
}

section {
  padding: 5rem 10rem;

  &:nth-child(odd):not(:first-child) {
    background-color: $blue;
    position: relative;

    &:before {
      content: "";
      background-color: $blue;
      position: absolute;
      top: 0px;
      bottom: 0px;
      height: 100%;
      right: 100%;
      width: 100%;
    }

    h2 {
      color: #fff;
    }
  }

  @include mobile {
    padding: 3rem;

    &:nth-child(odd):before {
      content: none;
    }
  }
}

.section-links a {
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 0.5rem 2rem;
  padding-right: 1rem;
  padding-bottom: 0;
  display: inline-block;
  border-right: 1px solid darken($white, 10%);

  &:last-child {
    padding-right: 0;
    border-right: none;
  }

  @include mobile {
    // font-size: 1.3rem;
  }
}

#businesses {
  a.view-all {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5rem;
    color: $white;
    font-weight: bold;

    strong {
      color: $red;
    }
  }

  ul {
    list-style-type: none;
    margin: 3rem 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;

    li {
      width: 33%;
      text-transform: uppercase;
      padding: 1rem;
      line-height: 1.2;

      @include mobile {
        width: 50%;
      }

      small {
        color: darken($white, 30%);
        display: block;
      }
    }
  }

  .logos img {
    filter: contrast(50%) brightness(120%) grayscale(100%);
    width: 150px;
    height: 75px;
    object-fit: contain;
    margin: 10px;

    @include mobile {
      width: 110px;
      height: 50px;
    }

    &.padded {
      height: 60px;

      @include mobile {
        height: 40px;
      }
    }
  }
}

#events {
  h4 {
    margin: 0;
  }

  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0 0 5rem 0;
      padding: 0;

      @include mobile {
        padding-left: 4.2rem;
      }
    }

    h4:before {
      content: "1";
      border-radius: 100%;
      width: 3.2rem;
      height: 3.2rem;
      font-size: 2rem;
      line-height: 3.2rem;
      color: $white;
      // background-color: $dark-blue;
      margin-right: 1rem;
      margin-left: -4.2rem;
      text-align: center;
      display: inline-block;
    }

    @for $i from 2 through 10 {
      li:nth-child(#{$i}) h4:before {
        content: "#{$i}"
      }
    }

    p {
      margin-top: 0;
    }
  }

  h3 {
    font-size: 2rem;
    margin-bottom: 3rem;

    a {
      display: block;
      font-size: 1.6rem;
      text-decoration: none;
    }
  }

  .state-selector {
    width: 60rem;
    max-width: 100%;

    select, .btn {
      flex: 1;
      margin-bottom: 1rem;
    }

    select {
      margin-right: 0.5rem;
      font-family: $heading-font;
    }
  }
}

iframe.map {
  width: 900px;
  height: 400px;
  margin-left: -200px;
  border: 0;

  @include mobile {
    width: 100%;
    height: 250px;
    margin: auto;
  }
}

.organize {
  font-size: 1.6rem;

  a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
  }
}

.site-footer {
  text-align: center;
  color: darken($white, 10%);
  font-size: 1.4rem;
  padding: 5rem;

  h4 {
    font-family: $body-font;
    margin-bottom: 0.2rem;
  }

  img {
    width: 20rem;
  }

  p {
    margin: 0.5rem 0;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
  }
}

.thanks {
  animation: fade-in 1s;

  .buttons {
    margin: 3rem 0;

    .btn {
      font-size: 1.3rem;
      white-space: nowrap;
    }
  }
}

.btn {
  &.btn-twitter {
    color: #fff;
    background-color: $twitter-blue;

    &:hover {
      background-color: darken($twitter-blue, 10%);
    }
  }

  &.btn-facebook {
    color: #fff;
    background-color: $facebook-blue;

    &:hover {
      background-color: darken($facebook-blue, 10%);
    }
  }

}
