<!doctype html>
<html>
<head>
	{% include meta.html %}
</head>
<body>
<div class="social-media-buttons">
	<div class="share-bar twitter">
		<span>Share on twitter</span> <img src="/images/share/twitter_white.svg" />
		<div class="sp_186666 sp_tw_large" ></div>
	</div>
	<div class="share-bar facebook">
		<span>Share on facebook</span> <img src="/images/share/facebook_white.svg" />
		<div class="sp_186665 sp_fb_large" ></div>
	</div>
</div>
<div id="overlord">
{{ content }}
</div>
{% include scripts.html %}
</body>
</html>
